* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#mpf {
  background: rgb(255, 165, 0);
  background: linear-gradient(
    86deg,
    rgba(255, 165, 0, 1) 0%,
    rgba(244, 201, 122, 1) 0%
  );
  background-size: cover;
  background-position: center;
}

/*Navbari(Menuja)*/

.th-header .navbar {
  border-bottom: 3.5px solid #000000;
}

.th-header .navbar img {
  margin-left: 50px;
  transition: 0.2s;
}

.th-header .navbar img:hover {
  transform: scale(1.1);
}
.th-header .navbar-nav .nav-item {
  margin: 0 15px;
}
.th-header .navbar .navbar-nav .nav-link {
  color: #ffffff;
  transition: 0.2s;
}

.th-header .navbar .navbar-nav .nav-link:hover {
  color: #f4c97a;
  font-weight: 600;
  transform: scale(1.05);
}

.th-header .navbar .navbar-nav .user-icon {
  margin-right: 50px;
}

.th-header .navbar .navbar-nav .user-icon a i {
  color: #ffffff;
  transition: 0.2s;
}

.th-header .navbar .navbar-nav .user-icon a:hover i {
  color: #f4c97a;
  font-weight: 600;
  transform: scale(1.05);
}

.th-header .navbar .navbar-nav .dropdown-menu a {
  background-color: #00000000;
}

.th-header .navbar .navbar-nav .dropdown-menu {
  background-color: #000000;
}

.th-header .navbar .navbar-nav .dropdown-menu a {
  color: #ffffff;
  transition: 0.2s;
}

.th-header .navbar .navbar-nav .dropdown-menu a:hover {
  color: #f4c97a;
  font-weight: 600;
}


.card {
  transition: 0.3s;
  height: 500px;
}

.card:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.th-luxury {
  height: auto;
  padding-bottom: 40px;
  border-bottom: none;
}

.th-titulli-luxury h2 {
  text-align: center;
  color: #000000;
  margin: 20px 0;
  transition: 0.3s;
}

.th-titulli-luxury h2:hover {
  font-weight: 600;
  cursor: pointer;
  transform: scale(1.15);
}

/*Card Hover*/

.card {
  transition: 0.2s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}




/*Footeri*/

.th-footer {
  background-color: #000000;
  padding: 20px 0;
  text-align: center;
  border-top: 3.5px solid #fff;
}

.th-mpf p {
  color: #fff;
  font-weight: 600;
}

.social-icons i {
  font-size: 18px;
  margin: 0 10px;
  color: #ffffff;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #f4c97a;
  transform: scale(1.25);
}
